<div class="container">
<h1>Sesion 06 Angular Lifecycle Services</h1>

<app-start></app-start>

<!--
<app-demo-component></app-demo-component>
<hr/>
<app-fetch-data></app-fetch-data>
<hr/>
<app-timer></app-timer>
<hr/>
<app-view-child></app-view-child>
<hr/>

<app-parent></app-parent>
<hr/>
<app-producer></app-producer>
<app-consumer></app-consumer>

<app-start></app-start>
-->

<!--
<h2>Demo: OnChanges y DoCheck</h2>

<label>
  Cambiar valor:
  <input [(ngModel)]="valor" placeholder="Escribe algo" />
</label>
<button (click)="valor = ''">Resetear valor</button>

<br><br>

<button (click)="tareas.push('Tarea ' + (tareas.length + 1))">Agregar tarea</button>
<button (click)="tareas.pop()" [disabled]="tareas.length === 0">Eliminar tarea</button>
-->
<!--app-start [value]="valor" [tasks]="tareas"></app-start-->



<router-outlet />
